<div class="nav-bar">
    <div class="left-nav-items">
        <%= link_to "Home", root_path %>
        <%= link_to "About" %>
    </div>
    <div class="title-navbar">
      <h1>RoamReady</h1>
    </div>
    <div class="right-nav-items">
        <%= link_to "Your Trips", trips_path %>
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false } %>
        <% else %>
          <%= link_to "Login", user_session_path %>
        <% end %>
    </div>
  </div>


<div class="trips-container">
  <div class="trips-header">
    <h1>Your trips</h1>
    <%= link_to "Create a new trip", new_trip_path, class: "btn btn-primary" %>
  </div>
  <div class="trips">
    <% if user_signed_in? %>
        <% if @trips.empty? %>
          <p>No trips found. <%= link_to "Create a new trip", new_trip_path %></p>
        <% elsif @trips.present? %>
          <% @trips.each do |trip| %>
            <%= link_to trip_path(trip) do %>
              <div class="trip-card">
                  <div class="trip-details">
                    <h2><%= trip.name %></h2>
                    <p>Start date: <%= trip.start_date.strftime('%m/%d/%Y') %></p>
                    <p>End date: <%= trip.end_date.strftime('%m/%d/%Y') %></p>
                    <p>Destination: <%= trip.location %></p>
                    <p>Activity: <%= trip.activity %></p>
                  </div>
                  <% if trip.place_photo_reference.present? %>
                    <img class="trip-images-index" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=<%= trip.place_photo_reference %>&key=<%= ENV['GOOGLE_API_KEY'] %>" alt="Trip Location Photo">
                  <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>

    <% else %>
      <p>Please <%= link_to "login", new_user_session_path %> to view your trips.</p>
    <% end %>
  </div>
</div>
