<div class="nav-bar">
    <div class="left-nav-items">
        <%= link_to "Home", root_path %>
        <%= link_to "About" %>
    </div>
    <div class="title-navbar">
      <h1>RoamReady</h1>
    </div>
    <div class="right-nav-items">
        <%= link_to "Your Trips", trips_path %>
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login", login_path %>
        <% end %>
    </div>
  </div>

<div class="response-container">

  <div class="response">
    <% if @trip.openai_response.present? %>
      <%= checklist_with_checkboxes(@formatted_content) %>
    <% end %>
  </div>
</div>

<div class="accomodation-container">
  <h2>Accommodation</h2>
    <p>Still looking for accommodation?</p>
    <p>We can help you find the perfect place to stay!</p>
    <%= link_to "Find Accommodation", class: "btn btn-primary" %>
</div>
